<h1> Welcome <%= @user.first_name%></h1>

<h4>Please complete your profile before continuing.</h4>

<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_with model: @profile, url: user_profile_path(@user), local: true do |f| %>
  <p>
    <%= f.label :username, "Choose your username:" %>
    <%= f.text_field :username %>

    <%= f.label :member_title, "Choose your position title within Movie Club:" %>
    <%= f.text_field :member_title %>

    <%= f.label :fav_movie, "Title of your Favorite Movie:" %>
    <%= f.text_field :fav_movie %>

    <%= f.label :profile_photo, "Upload a profile picture URL:" %>
    <%= f.text_field :profile_photo%>

    <%= f.submit %>
  </p>
<% end %>