<div class= "home">
  <p class="title lrg">DAM Movie Club</p>
  <p class="specialA">5</p>
  <h2>We like to movie.</h2>

  <h4>Upcoming Movie Date</h4>
  <% if @next_movie %>
      <h3><%= @next_movie.title %></h3>
      <p><%= @next_movie.date_attended.strftime("%A %B %e %Y") %></p>
      <p><%= @next_movie.theater %> at <%= @next_movie.showtime.strftime(" %l %M %p") %></p>
      <p><%= image_tag @next_movie.poster_image, width: "25%" %></p>
  <% else %>
    <h4>Nothing on the schedule yet...</h4>
    <p><%= image_tag 'sad_leo.jpg', :class => "homeimage"%></p>

  <% end %>

  <%= link_to 'See the movies', movies_path, class: 'button button1' %> | 
  <%= link_to 'See the members',  users_path, class: 'button button1'  %>
</div>
