<p class="title">Member Log In</p>

<div class='alert'><%= flash[:message] if flash[:message] %></div>

<div class="cat"><%= image_tag 'popcorn-cat.jpg', size: "250", class: "popcat" %></div>
<div class="cat"><h4>Popcorn cat says "Welcome back member"</h4></div>

<%= form_tag('/login') do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %> 
  <%= password_field_tag :password%>

  <%= submit_tag 'Log In'%>
<% end %>

<p> or </p>

<%= link_to 'Log In with Facebook', '/auth/facebook', class: 'button button1' %>
