<h1>Edit <%= @movie.title %></h1>
<%= render partial: 'layouts/errors', locals: {object: @movie } %>
<%= render 'movie_form' %>

<div><%= link_to "Delete Movie", movie_path(@movie), method: "delete", class: 'button button2'%></div>
<div><%= link_to "Back", movie_path(@movie), class: 'button button2' %></div>