<p><%= link_to 'Edit Movie Info', edit_movie_path, class: 'button button2' %></p>
<h1><%= @movie.title %> (<%= @movie.release_year %>) </h1>
  <div class="row">
    <div class="column">
      <%= image_tag @movie.poster_image, height: "450", width: "350" %>
    </div>
    <div class="column">
        <p>Directed by: <%= @movie.director %></p>
        <p>Genre: <%= @movie.genre %></p>
        <p>Movie Club viewing:</p>
        <p><%= @movie.date_attended.strftime("%A %B %e %Y") %></p>
        <p>at <%= @movie.theater %></p>
        <% if @movie.reviews.any? %>
          <p>DAM Movie Club rating :</p>
          <p><%= @movie.movie_club_rating %><%= (@movie.movie_club_rating) == 1 ? 'Star' : ' Stars' %></p>
        <% end %>
    </div >
  </div>

<% if @movie.users.any? %>
  <h4>Members who attended</h4>
    <% @movie.users.each do |m| %>
      <%= link_to user_path(m) do %>
        <%= image_tag m.profile.profile_photo, size: "100" %>
      <% end %>
    <% end %>
<% end %>
<br/><br/>

<% if !current_user.reviewed_it(@movie) %>
  <%= link_to 'Add your review', new_movie_review_path(@movie.id), class: 'button button1' %>
<% end %>

<h2>Reviews</h2>
  <% @movie.reviews.each do |r| %>
    <p>
      <%= image_tag r.user.profile.profile_photo, size: "65", class: "avatar" %>
      <%= r.user.profile.username %> says "<%= r.content %>"
      <p><%= r.rating %><%= (r.rating) == 1 ? 'Star' : ' Stars' %>
      <%= link_to 'Edit', edit_movie_review_path(@movie.id, r), class: 'button button2' if current_user == r.user %>
      <%= link_to 'Add Comment', new_review_comment_path(r), class: 'button button2' %></p>
    </p>
      <% if r.comments.present? %>
        <div class="comment">
          <% r.comments.each do |c| %>
            <p>
              <%= c.content %> - <%= c.user.profile.username %>
              <%= link_to 'Edit', edit_review_comment_path(r.id, c) if current_user == c.user %>
            </p>
          <% end %>
        </div>
      <% end %>
  <% end %>
