<p><%= link_to 'Edit Movie Info', edit_movie_path, class: 'right button button2' if current_user.admin? %></p>
<p class="title"><%= @movie.title %> (<%= @movie.release_year %>) </p>
  <div class="row">
    <div class="column">
      <%= image_tag @movie.poster_image, height: "450", width: "330" %>
    </div>
    <div class="column">
      <div class="details">
        <p><strong>Directed by:</strong> <%= @movie.director %></p>
        <p><strong>Genre:</strong> <%= @movie.genre %></p>
        <p><strong>Movie Club viewing:</strong></p>
        <p><%= @movie.date_attended.strftime("%A %B %e %Y") %></p>
        <p>at <%= @movie.theater %></p>
      </div>
        <% if @movie.reviews.any? %>
          <p class="details"><strong>DAM Movie Club rating :</strong></p>
          <% @movie.movie_club_rating.times do |s| %>
            <i class="fas fa-star fa-lg"></i>
          <% end %>
        <% end %>
    </div >
  </div>

<% if @movie.users.any? %>
  <h3>Members who attended</h3>
    <% @movie.users.each do |m| %>
      <%= link_to user_path(m) do %>
        <%= image_tag m.profile.profile_photo, size: "100" %>
      <% end %>
    <% end %>
<% end %>

<br/><br/>
<% if too_soon_to_review %>
  <% if !current_user.reviewed_it(@movie) %>
    <%= link_to 'Add your review', new_movie_review_path(@movie.id), class: 'button button1' %>
  <% end %>
  <h2>Reviews</h2>
<% end %>

<div class="reviews">
  <% @movie.reviews.each do |r| %>
    <p>
      <%= image_tag r.user.profile.profile_photo, size: "65", class: "avatar" %>
      <% r.rating.times do |s| %>
       <i class="fas fa-star"></i>
      <% end %>
      -
      <%= r.user.profile.username %> says "<%= r.content %>" 
        <p>
          <%= link_to 'Edit', edit_movie_review_path(@movie.id, r) if current_user == r.user %>
          <%= link_to 'Add Comment', new_review_comment_path(r) %>
        </p>
    </p>
      <% if r.comments.present? %>
        <div class="comment">
          <% r.comments.each do |c| %>
            <p>
              <%= image_tag c.user.profile.profile_photo, size: "40", class: 'avatar' %><strong><%= c.user.profile.username %></strong>
              <p><%= c.content %>
              <%= link_to 'Edit', edit_review_comment_path(r.id, c) if current_user == c.user %></p>
            </p>
          <% end %>
        </div>
      <% end %>
  <% end %>
  </div>
