<p class="title">The Members</p>

<div class="flex-container">
  <% @users.each do |u| %>
    <div class="gallery">
      <%= link_to user_path(u) do %>
        <%= image_tag u.profile.profile_photo, class: "userpix" %>
      <% end %>
        <div class="desc">
          <p><%= u.full_name %></p>
          <p>Username: <%= u.profile.username %></p>
          <p>Review count: <%= u.movies.count %></p>
        </div>
    </div>
  <% end %>
</div>