<p class="title"><%= @user.full_name %></p>
  <div class="row">
    <div class="column">
      <%= image_tag @user.profile.profile_photo, size: "300", class: 'profypic' %>
    </div>
    <div class="column">
      <div class="details">
        <p><strong>Username:</strong> <%= @user.profile.username %></p>
        <p><strong>Member title:</strong> <%= @user.profile.member_title %></p>
        <p><strong>Favorite Movie:</strong> <%= @user.profile.fav_movie %></p>
      </div>
        <% unless @user.movies.count == 0 %>
          <p class="details"><strong>Member Status:</strong> <%= @user.member_status %></p>
          <p class="details"><strong>Member Since:</strong> <%= @user.member_since %></p>
        <% end %>
        <%= link_to 'Edit profile info', edit_user_profile_path(@user.id), class: 'button button2' if current_user == @user %> 
        <%= link_to 'See all of my reviews', user_reviews_path(@user.id),class: 'button button2'  if @user.movies.count >= 1 %>
    </div>
  </div>

<h4>Movie Club Attendence Record: <%= @user.movies.count %></h4>
<% @user.movies.most_recent_first.each do |m| %>
  <div class="img-container">
    <%= link_to movie_path(m) do %>
      <%= image_tag m.poster_image, width: "12%" %>
    <% end %>
  </div>
<% end %>

<% if current_user == @user %>
  <% if @user.movies.count == 0 %>
    <p>Choose your first movie to review:</p>
    <% @movies.each do |m| %>
      <%= link_to m.title, new_movie_review_path(m) %> |
    <% end %>
   <% end %> 
<% end %>
