<h1><%= @user.full_name %></h1>
  <div class="row">
    <div class="column">
      <%= image_tag @user.profile.profile_photo, size: "250" %>
    </div>
    <div class="column">
        <p>Username: <%= @user.profile.username %></p>
        <p>Member title: <%= @user.profile.member_title %></p>
        <p>Favorite Movie: <%= @user.profile.fav_movie %></p>
        <% unless @user.movies.count == 0 %>
          <p>Member Status: <%= @user.member_status %></p>
          <p>Member Since: <%= @user.member_since %></p>
        <% end %>
        <%= link_to 'Edit profile info', edit_user_profile_path(@user.id), class: 'button button1' if current_user == @user %> 
        <%= link_to 'See all of my reviews', user_reviews_path(@user.id),class: 'button button1'  if @user.movies.count >= 1 %>
    </div>
  </div>

<h4>Movie Club Attendence Record: <%= @user.movies.count %></h4>
<% @user.movies.each do |m| %>
  <div class="img-container">
    <%= link_to movie_path(m) do %>
      <%= image_tag m.poster_image, width: "12%" %>
    <% end %>
  </div>
<% end %>

<% if current_user == @user %>
  <% if @user.movies.count == 0 %>
    <p>Choose your first movie to review:</p>
    <% @movies.each do |m| %>
      <%= link_to m.title, new_movie_review_path(m) %> |
    <% end %>
   <% end %> 
<% end %>
