<h1><%= @user.full_name %></h1>

<%= image_tag @user.profile.profile_photo, size: "200" %>

<p>username: <%= @user.profile.username %></p>
<p>Member title: <%= @user.profile.member_title %></p>
<p>Favorite Movie: <%= @user.profile.fav_movie %></p>

<%= link_to 'Edit Profile Info', edit_user_profile_path(@user.id) %>

