<h1><%= @user.full_name %></h1>

<%= image_tag @user.profile.profile_photo, size: "200" %>

<p>username: <%= @user.profile.username %></p>
<p>Member title: <%= @user.profile.member_title %></p>
<p>Favorite Movie: <%= @user.profile.fav_movie %></p>
<p>Member Since: <%= @user.member_since %></p>
<p>Current Member Status: <%= @user.member_status %></p>

<h4>Movie Club Attendence Record: <%= @user.movies.count %></h4>
<% @user.movies.each do |m| %>
  <%= link_to movie_path(m) do %>
    <%= image_tag m.poster_image, height: "200", width: "155" %>
  <% end %>
<% end %>

<% if @user.movies.count == 0 %>
  Choose your first movie to review:
  <% @movies.each do |m| %>
    <%= link_to m.title, new_movie_review_path(m) %>
  <% end %>
 <% end %> 

<br/><br/>

<% if current_user == @user %>
  <%= link_to 'Edit Profile Info', edit_user_profile_path(@user.id) %> |
  <%= link_to 'See all of my reviews', user_reviews_path(@user.id) if @user.movies.count >= 1 %>
<% end %>
